.cart-details {
	position: relative;

	.ui.items {
		span {
			&.empty {
				font-size: 1.2em;
				display: block;
				color: $color-red;
				font-weight: 700;
				margin-bottom: 1em;
			}
		}

		.item {
			position: relative;
			padding: 1em;
			border-bottom: 1px solid rgba(0,0,0,.1);

			&:last-child {
				margin-bottom: 0 !important;
			}

			&:hover {
				background-color: $color-primary;
				a {
					color: whitesmoke;
				}

				&.remove {
					color: white;
				}
			}
			
			a {
				color: $color-primary;
				font-size: 1.2em;
			}

			.header {
				font-weight: 400;
				display: block;
				font-size: 1.4em;
				@include max-width(767px) {
					text-align: center;
				}
			}

			.image {
				width: 100px;
				height: 70px;
				overflow: hidden;

				@include max-width(767px) {
					height: auto;
				}

				img {
					margin-top: -30px;

					@include max-width(767px) {
						margin-top: 0;
					}
				}
			}

			.price {
				margin-top: 1em;
				display: block;
				color: $color-green;
			}

			button {
				&.remove {
					position: absolute;
					top: 10px;
					right: 10px;
					z-index: 2;
					font-size: .8em;

					i {
						margin: 0 !important;
					}
					
					&:hover {
						background-color: $color-red;
						color: white;
					}
				}
			}
		}
	}
	
	.total {
		border-top: 2px solid #5d5d5d;
		padding-top: 1em;

		span {
			color: $color-secondary;
			font-size: 1.9em;

			&.text {

			}

			&.price {
				color: $color-green;
			}
		}
	}
}
