.static-page {
	.header {
		margin-bottom: 2em;
		h1 {
			text-transform: uppercase;
			color: $color-primary;
			letter-spacing: 2px;
			font-weight: 400;
			border-bottom: 1px solid $color-primary;
		}
	}

	h2 {
		text-transform: uppercase;
		color: $color-primary;
		letter-spacing: 2px;
		font-weight: 400;
		font-size: 1.5em;
	}

	p {
		font-size: 1.1em;
		
		&.italic {
			font-style: italic;
			font-size: 1.15em;
			background: #EDE4DF;
			padding: .8em;
		}
	}
}
