@import "modules/mixins";

.content-container {
	border-left: 1px solid rgba(0,0,0,.1);
}

.no-padding-top {
	padding-top: 0 !important;
}

header {
	border-bottom: 1px solid rgba(0,0,0,.1);
	margin-bottom: 2em;
	padding: 0 1em;

	.ui.secondary.menu {
		.item {
			text-transform: uppercase;
			margin: .8em 0;
			span {
				margin-right: .3em;
			}

			&.bordered {
				border: 1px solid rgba(0,0,0,.1);
			}
		}
	}
}

.home-intro {
	padding: 0 1em;

	.cover {
		background-image: url("http://commercecdn.com/1409010996323811624/341618e1-39f3-44ea-bab4-beb833df193e.jpeg");
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position: center;
	
		.cover-inner {
			padding: 2em;
			color: #fff;
			height: 400px;
			background-color: rgba(0,0,0,.7);

			.content {
				width: 500px;
			}
		}
	}

	.spotlight-container {

	}
}

.product-list-element {
	margin-bottom: 1em !important;

	.ui {
		&.card {
			width: 100%;
			@include border-radius(0);
			//@include box-shadow(0, 0, 15px, 2px, rgba(0,0,0,.1));
			border: none;
			text-align: center;
			box-shadow: none;

			.image {
				@include border-radius(0);
				position: relative;

				&:hover {
					.extra.content {
						display: block;
					}
				}

				.extra.content {

					display: none;
					position: absolute;
					bottom: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(0,0,0,.4);
					@include gradient-vertical(rgba(0,0,0,0), rgba(0,0,0,.9));
					padding: 1em;

					.buttons-container {
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						padding: 1em;

						.button {
							width: 70%;
							margin-bottom: 1em;
							@include border-radius(0);
							border-color: rgba(0,0,0,.8) !important;
						}
					}
				}
			}

			&:hover {
				.extra.content {
					display: block;
				}
			}
		}
	}
}

.product-container {
	padding: 0 1em;
	.product-details {
		//@include box-shadow(0, 0, 15px, 2px, rgba(0,0,0,.1));
		padding: 1.2em;
		border: 1px solid rgba(0,0,0,.1);

		h1 {
			font-weight: 300;
			text-transform: uppercase;
			font-size: 1.7em;
		}
	}

	.preview-image {
		width: 100%;
		height: 600px;
		overflow: hidden;
		background-position: center;
		background-size: 100% auto;
		background-repeat: no-repeat;
	}
}

.sidebar {
	padding: 0 1em;
	.sidebar-element {
		margin-bottom: 1em;
		
		h4 {
			text-transform: uppercase;
		}
	}
	
	.sidebar-cart {
		background-color: rgba(0,0,0,.1);
		padding: 1em;
	}
}

footer {
	.footer {
		padding: 4em 0 3em 0 !important;
	}
}
