@import "modules/mixins";
@import "modules/buttons";
@import "modules/animation";
@import "modules/overlay";
@import "../../../node_modules/react-image-gallery/styles/scss/image-gallery.scss";
$color-primary: #2e435c;
$color-primary-lighter: #8bc4f3;
$color-secondary: #251A22;
$color-light: #EDE4DF;

body {
	background-color: $color-light;
}

.content-container {
	border-left: 1px solid rgba(0,0,0,.1);
}

.container {
	&.fluid {
		width: 85% !important;
		padding-left: 350px;
	}
}

.no-padding-top {
	padding-top: 0 !important;
}

.pusher {
	background-color: rgba(237, 228, 223, 0.76);
	background-image: url("https://www.transparenttextures.com/patterns/dust.png");
}

header {
	border-bottom: 1px solid rgba(0,0,0,.1);
	margin-bottom: 2em;
	padding: 0 1em;

	.ui.secondary.menu {

		.item {
			text-transform: uppercase;
			margin: .8em 0;
			letter-spacing: 2px;
			@include border-radius(0px);
			color: $color-primary;

			span {
				margin-right: .3em;
			}

			&.logo {
				img {
					width: 100px;
				}
			}

			&.cart-item {
				background-color: rgba(0,0,0,.05);
				color: $color-secondary;
			}
			
			&:hover {

			}
		}
	}
}

.home-intro {
	padding: 0 1em;

	.cover {
		background-color: grey;
		margin-bottom: 1em;
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position: center;
		position: relative;

		.cover-inner {
			.content {
				width: 600px;
				height: 520px;
				padding: 9em 1em;
				//@include gradient-horizontal(rgba($color-primary, .99), rgba(255,255,255,.0), 60%, 90%);
				@include gradient-vertical(rgba($color-secondary, .5), $color-primary);

				.inner {
					border: 1px solid $color-light;
					padding: 1.5em;

					h1 {
						color: whitesmoke;
						text-transform: uppercase;
						letter-spacing: 2px;
					}

					p {
						color: $color-light;
						font-size: 1.2em;
					}

					.button {
						@include border-radius(0);

						&.primary {
							background-color: #fff;
							min-width: 200px;
						}
						
						&.secondary {
							background: none;
							border: 1px solid rgba(255,255,255,.1);
							min-width: 200px;
						}
					}

					span.price {
						display: block;
						font-size: 1.5em;
						margin-bottom: 1em;
						color: $color-light;
					}

					i {
						margin-right: 0;
					}
				}
			}
		}
	}

	.spotlight-container {

	}
}

.product-list-element {
	margin-bottom: 1em !important;

	.ui {
		&.card {
			width: 100%;
			@include border-radius(0);
			@include box-shadow(5px, 5px, 15px, 2px, rgba(0,0,0,.1));
			border: none;
			text-align: center;

			.image {
				@include border-radius(0);
				position: relative;

				&:hover {
					.extra.content {
						display: block;
					}
				}

				.extra.content {
					display: none;
					position: absolute;
					bottom: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(0,0,0,.4);
					@include gradient-vertical(rgba($color-light, .5), $color-primary);
					padding: 1em;

					.buttons-container {
						position: absolute;
						bottom: -100px;
						left: 0;

						width: 100%;
						padding: 1em;

						.button {
							width: 70%;
							margin-bottom: 1em;
							@include border-radius(0);
							border-color: rgba(0,0,0,.8) !important;
						}
					}
				}
			}

			&:hover {
				.extra.content {
					display: block;

					.buttons-container {
						bottom: 0;
						transition:all 1s linear;
					}
				}
			}

			.content {
				position: relative;
				padding-right: 4.5em;
				
				.header {
					text-align: left;
					text-transform: uppercase;
				}
				
				.sub {
					color: grey;
					text-align: left;
					display: block;
					font-style: italic;
				}

				.price {
					position: absolute;
					top: .85em;
					right: .7em;
					border: 1px solid $color-primary;
					padding: .5em;

					span {
						font-size: 1.2em;
						font-weight: 600;
						color: $color-primary;

						i {
							margin-right: 0;
						}
					}
				}
			}
		}
	}
}

.product-container {
	padding: 0 1em;
	position: relative;

	.product-details {
		background-color: #fff;
		@include box-shadow(0, 0, 15px, 2px, rgba(0,0,0,.2));
		padding: 1.2em;

		h1 {
			font-weight: 300;
			text-transform: uppercase;
			font-size: 1.5em;
		}

		.price {
			font-size: 1.2em;
			display: block;
			text-align: left;
			margin-bottom: .4em;
			margin-top: .5em;
			color: $color-primary;
		}

		.button {
			height: 40px;
			background-color: $color-primary;
			color: #fff;
			margin-bottom: 1em;
			@include border-radius(0);
			
			&:hover {
				background-color: lighten($color-primary, 10%);
			}
		}
	}

	.ui.styled.accordion {
		@include border-radius(0);
	}
}

.sidebar {
	width: 330px;
	background-color: #ffffff;
	background-image: url("https://www.transparenttextures.com/patterns/ag-square.png");
	/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
	border-right: 1px solid rgba(0,0,0,.1);

	.sidebar-inner {
		padding: 0 1em;
		.sidebar-element {
			margin-bottom: 1em;
			position: relative;

			h4 {
				text-transform: uppercase;
				padding-right: 1.5em;
				color: $color-primary;
			}

			.button {
				position: absolute;
				top: .5em;
				right: .5em;
				font-weight: 700 !important;
			}
		}

		.sidebar-cart {
			padding: 1em;
			margin-top: 1em;
			background-color: #fff;
			border: 1px solid $color-light;
			@include box-shadow(0, 0, 15px, 2px, rgba(0,0,0,.1));

			.header {
				font-size: 1em !important;
				text-transform: uppercase;
				color: $color-secondary !important;

				.price {
					font-size: .9em;
					color: $color-primary;
					border: 1px solid $color-primary;
					padding: .2em .5em;
					display: inline-block;
					margin-top: .4em;
				}
			}

			.empty {
				color: $color-secondary;
			}

			.ui.tiny.image {
				width: 45px;
			}

			.extra {
				font-size: 1.2em !important;
				font-weight: 700;

				i {
					margin-right: 0 !important;
				}
			}

			.checkout.button {
				background-color: $color-light;
				font-weight: 700;
			}
		}

		.ui.vertical.menu {
			width: 100%;
			@include border-radius(0);
			border-color: #d6d6d6;
		}
	}
}

.categories {
	.item {
		text-transform: uppercase;
		font-size: 1em;
		letter-spacing: 1px;
		margin-bottom: .5em;
		border-bottom: 1px solid $color-light;
		color: $color-secondary !important;
		display: block;

		&:hover {
			cursor: pointer;
		}
	}
}

.checkout-container {
	background-color: white;
	padding: 1em;
}

footer {
	.footer {
		padding: 4em 0 3em 0 !important;
	}
}
