@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg); } }
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg); } }
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg); } }
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg); } }
header .item span {
  margin-right: .3em; }

.home-intro {
  padding: 5em 0 4em 0;
  background-color: #dfe7f2; }
  .home-intro .cover {
    background-image: url("http://commercecdn.com/1409010996323811624/341618e1-39f3-44ea-bab4-beb833df193e.jpeg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center; }
    .home-intro .cover .cover-inner {
      padding: 2em;
      color: #fff;
      height: 400px;
      background-color: rgba(0, 0, 0, 0.7); }
      .home-intro .cover .cover-inner .content {
        width: 500px; }
  .home-intro .spotlight-container {
    margin-top: 1em; }
    .home-intro .spotlight-container .row {
      margin: 2em 0; }

.spotlight-element .ui.card {
  width: 100%;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.1);
  text-align: center; }
  .spotlight-element .ui.card .image {
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }

.product-container {
  margin: 6em 0 3em 0; }
  .product-container .preview-image {
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat; }

footer .footer {
  padding: 4em 0 3em 0 !important; }

/*# sourceMappingURL=main.css.map */
