@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg); } }
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg); } }
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg); } }
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg); } }
.content-container {
  border-left: 1px solid rgba(0, 0, 0, 0.1); }

.no-padding-top {
  padding-top: 0 !important; }

header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 2em;
  padding: 0 1em; }
  header .ui.secondary.menu .item {
    text-transform: uppercase;
    margin: .8em 0; }
    header .ui.secondary.menu .item span {
      margin-right: .3em; }
    header .ui.secondary.menu .item.bordered {
      border: 1px solid lightseagreen;
      color: lightseagreen;
      font-weight: 700; }

.home-intro {
  padding: 0 1em; }
  .home-intro .cover {
    background-image: url("http://commercecdn.com/1409010996323811624/341618e1-39f3-44ea-bab4-beb833df193e.jpeg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center; }
    .home-intro .cover .cover-inner {
      padding: 2em;
      color: #fff;
      height: 400px;
      background-color: rgba(0, 0, 0, 0.7); }
      .home-intro .cover .cover-inner .content {
        width: 500px; }

.product-list-element {
  margin-bottom: 1em !important; }
  .product-list-element .ui.card {
    width: 100%;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    border: none;
    text-align: center;
    box-shadow: none; }
    .product-list-element .ui.card .image {
      -webkit-border-radius: 0 !important;
      border-radius: 0 !important;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */
      position: relative; }
      .product-list-element .ui.card .image:hover .extra.content {
        display: block; }
      .product-list-element .ui.card .image .extra.content {
        display: none;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, lightseagreen 100%);
        background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, lightseagreen 100%);
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, lightseagreen 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80FFFFFF', endColorstr='#FF20B2AA', GradientType=0);
        padding: 1em; }
        .product-list-element .ui.card .image .extra.content .buttons-container {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          padding: 1em; }
          .product-list-element .ui.card .image .extra.content .buttons-container .button {
            width: 70%;
            margin-bottom: 1em;
            -webkit-border-radius: 0 !important;
            border-radius: 0 !important;
            background-clip: padding-box;
            /* stops bg color from leaking outside the border: */
            border-color: rgba(0, 0, 0, 0.8) !important; }
    .product-list-element .ui.card:hover .extra.content {
      display: block; }
    .product-list-element .ui.card .content {
      position: relative;
      padding-right: 3em; }
      .product-list-element .ui.card .content .header {
        text-align: left;
        text-transform: uppercase; }
      .product-list-element .ui.card .content .sub {
        color: grey;
        text-align: left;
        display: block;
        font-style: italic; }
      .product-list-element .ui.card .content .price {
        position: absolute;
        top: .85em;
        right: 0; }
        .product-list-element .ui.card .content .price span {
          font-size: 1.2em;
          font-weight: 600;
          color: lightseagreen; }
          .product-list-element .ui.card .content .price span i {
            margin-right: 0; }

.product-container {
  padding: 0 1em; }
  .product-container .product-details {
    padding: 1.2em;
    border: 1px solid rgba(0, 0, 0, 0.1); }
    .product-container .product-details h1 {
      font-weight: 300;
      text-transform: uppercase;
      font-size: 1.7em; }
    .product-container .product-details .price {
      font-size: 1.4em;
      display: block;
      text-align: center;
      font-weight: 700;
      margin-bottom: .4em; }
  .product-container .preview-image {
    width: 100%;
    height: 600px;
    overflow: hidden;
    background-position: top;
    background-size: 100% auto;
    background-repeat: no-repeat; }

.sidebar {
  padding: 0 1em; }
  .sidebar .sidebar-element {
    margin-bottom: 1em;
    position: relative; }
    .sidebar .sidebar-element h4 {
      text-transform: uppercase;
      padding-right: 1.5em; }
    .sidebar .sidebar-element .button {
      position: absolute;
      top: .5em;
      right: .5em;
      font-weight: 700 !important; }
  .sidebar .sidebar-cart {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1em; }
    .sidebar .sidebar-cart .header {
      font-size: 1em !important; }
    .sidebar .sidebar-cart .ui.tiny.image {
      width: 45px; }
    .sidebar .sidebar-cart .extra {
      font-size: 1.2em !important;
      color: lightseagreen !important;
      font-weight: 700; }
      .sidebar .sidebar-cart .extra i {
        margin-right: 0 !important; }

footer .footer {
  padding: 4em 0 3em 0 !important; }

/*# sourceMappingURL=main.css.map */
